// Header

#header{
    position: relative;
    z-index: 999;
    width: 100%;
    padding: 1.5em 0;
    overflow: hidden;
    min-height: 600px;
    height: 100vh;
}

.information{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.name{
    font-size: 55px;
    margin-bottom: -3vh;
    color: #011C66;
    font-weight: bold;
}

.swdev{
    color: #011C66;
    font-weight: bold;
    font-size: 40px;
    margin-bottom: .5vh;
}

.nameme{
    margin-top: 27vh;
    margin-left: 10.5vw;
}

.border-bot{
    border: 3px solid #ec4357;
    width: 50px;
    opacity: 15%;
    margin-bottom: 1.5vh;
}

.description{
    opacity: 70%;
}

.moreinfo{
    border: none;
    font-weight: 500;
    display: block;
    width: 100%;
    max-width: 210px;
    margin-top: 1em;
    text-align: center;
    color: white;
    font-size: 20px;
    border-radius: 3px;
    background: #ec4357;
    padding: 1em;
    cursor: pointer;
}

.intro-right-gradient{
    position: absolute;
    z-index: -10;
    top: -30%;
    right: -20%;
    width: 1000px;
    height: 1000px;
    border-radius: 50%;
    background: linear-gradient(#ee9ca7, #ec4357);
}

.webani{
    max-width: 600px;
    margin-top: 15vh;
    margin-left: 7vw;
    z-index: 20;
}

// About me

#aboutme{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.aboutani{
    max-width: 600px;
}