/* Navbar */

header{
    width: 100%;
    max-width: 1500px;
    margin: 0 auto;
}

.menu a{
    clear: left;
    text-decoration: none;
    margin-right: 100px;
    margin-top: 100px;
    color: #606c7c;
    transition: ease-in .2s;
    font-size: 20px;
    cursor: pointer;
}

#active{
    color: $red;
}

.menu a:last-child{
    margin-right: 0;
}

.menu a:hover{
    color: #ec4357;
}

.menu{
    float: left;
}

.contact{
    cursor: pointer;
    width: 200px;
    margin-top: .7em;
    height: 50px;
    padding: .5em;
    transition: .3s all ease;
    text-align: center;
    border: none;
    border-radius: 3px;
    background: white;
    box-shadow: 2px 4px 9px 1px rgba(0,0,0,0.5);
    margin-left: 30vw;
}

.contact > a{
    color: #ec4357;
    font-weight: bold;
    font-size: 20px;
}

#label{
    margin: 0 0 0 20px;
    font-size: 26px;
    line-height: 70px;
    display: none;
}

#toggle{
    display: none;
}

nav{
    background: transparent;
    position: absolute;
    z-index: 1000;
    margin-top: 20px;
}

@media only screen and (max-width: 800px) and (orientation: portrait) { 
    #label{
        display: block;
        cursor: pointer;
        width: 24px;
        float: left;
    }
  
    .menu{
        text-align: center;
        width: 100%;
        display: none;
        margin: 0;
    }
  
    .menu a{
        display: block;
        border-bottom: 1px solid #ececec;
        margin: 0px;
    }
  
    #toggle:checked + .menu{
        display: block;
    }
}