#navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 10vh;
    background-color: transparent;
    transition: 0.4s;
    position: fixed;
    width: 100vw;
    top: 0;
    z-index: 999;
}

#logo{
    height: 80px;
}

.navbar-ul{
    display: flex;
    justify-content: space-around;
}

#navbar-left{
    margin-left: -20vw;
}

.navbar-ul a {
    color: $darkblue;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 17px;
    margin-left: 1.5vw;
    margin-right: 1.5vw;
    margin-top: 20px;
    font-weight: bold;
}

.navbar-ul li{
    list-style: none;
}

.burger{
    display: none;
    cursor: pointer;
}

.burger div{
    width: 25px;
    height: 3px;
    background-color: black;
    margin: 5px;
    transition: all 0.3s ease;
}

.contactNav > a{
    background-color: white;
    border-radius: 50px;
    padding: 15px 55px;
    font-weight: 600;
    text-transform: none;
    margin-top: 8px;
    margin-left: 50vw;
}

@media screen and (max-width: 1700px){
    #navbar-left{
        margin-left: 0vw;
    }
}

@media screen and (max-width: 1452px) {
    .contactNav > a{
        margin-left: 45vw;
    }

    #homeHeader > .shapeRight > img{
        margin-top: 17vh!important;
    }
}

@media screen and (max-width: 1277px) {
    .contactNav > a{
        margin-left: 40vw;
    }

    #homeHeader > .shapeRight > img{
        margin-top: 20vh!important;
    }
}

@media screen and (max-width: 1140px) {
    .contactNav > a{
        margin-left: 35vw;
    }

    #homeHeader > .shapeRight > img{
        margin-top: 23vh!important;
    }
}

@media screen and (max-width: 1029px) {
    .contactNav > a{
        margin-left: 30vw;
    }
}

@media screen and (max-width: 939px) {
    #homeHeader{
        grid-template-columns: 1fr!important;
        grid-template-rows: 1fr 1fr!important;
    }

    .shapeRight{
        width: 100vw!important;
        float: none!important;
        position: absolute;
        top: 0;
        z-index: -1;
    }

    .shapeRight{
        grid-row: 2/2;
    }

    #homeHeader > .shapeRight > img{
        position: relative!important;
        margin: 0 auto!important;
        display: block;
        margin-top: 50vh!important;
        width: 60vw!important;
    }

    #homeHeader > .infoMe{
        grid-row: 1/2;
        max-width: 95vw!important;
        margin: 0 auto!important;
        text-align: center;
        margin-top: 15vh!important;
        & > h1{
            color: white!important;
        } & > p{
            color: white!important;
        } & > a > button{
            background-color: white!important;
            color: $darkblue!important;
            font-weight: bold!important;
        }
    }

    #navbar{
        background-color: white!important;
    }

    .contactNav > a{
        font-weight: bold!important;
    }

    body{
        overflow-x: hidden;
    }

    .navbar-ul{
        position: absolute;
        right: 0;
        height: 92vh;
        top: 8vh;
        background-color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        transform: translateX(100%);
        transition: transform .5s ease-in;
        justify-content: flex-start;
    }

    .navbar-ul li{
        opacity: 0;
        margin-top: 10vh;
    }

    .navbar-ul > li > a{
        font-size: 18px;
        margin-top: -5vh;
    }

    .navbar-ul a{
        margin-left: 0;
        margin-right: 0;
    }

    .burger{
        display: block;
    }

    .contactNav > a{
        padding: 0;
        background-color: none!important;
        text-transform: uppercase;

    }

    #about{
        grid-template-columns: 1fr!important;
        width: 100vw;
    }

    .heroAbout > img{
        max-width: 60vw!important;
        margin-top: 3.5vh!important;
    }

    .aboutMe{
        margin: 0 auto;
        text-align: center!important;
        margin-top: 5vh!important;
    }

    .aboutMe > p{
        max-width: 100%!important;
        width: 70vw;
        margin: 10px auto!important;
    }
}

@media screen and (max-width: 570px) {
    #homeHeader > .infoMe > h1{
        font-size: 50px!important;
    }

    #homeHeader > .infoMe > p{
        font-size: 15px!important;
    }

    #homeHeader > .shapeRight > img{
        width: 80vw!important;
    }
}

@media screen and (max-width: 375px) {
    #homeHeader > .shapeRight > img{
        margin-top: 57vh!important;
    }

    #homeHeader > .infoMe > h1{
        font-size: 40px!important;
    }
}

@media screen and (width: 1024px) {
    #homeHeader{
        grid-template-columns: 1fr!important;
        grid-template-rows: 1fr 1fr!important;
    }

    .shapeRight{
        width: 100vw!important;
        float: none!important;
        position: absolute;
        top: 0;
        z-index: -1;
    }

    .shapeRight{
        grid-row: 2/2;
    }

    #homeHeader > .shapeRight > img{
        position: relative!important;
        margin: 0 auto!important;
        display: block;
        margin-top: 50vh!important;
        width: 70vw!important;
    }

    #homeHeader > .infoMe{
        grid-row: 1/2;
        max-width: 95vw!important;
        margin: 0 auto!important;
        text-align: center;
        margin-top: 15vh!important;
        & > h1{
            color: white!important;
            font-size: 130px!important;
        } & > p{
            color: white!important;
            font-size: 25px!important;
        } & > a > button{
            background-color: white!important;
            color: $darkblue!important;
            font-weight: bold!important;
            font-size: 25px!important;
            padding: 25px 70px!important;
        }
    }

    .navbar-ul a{
        font-size: 22px;
        color: white;
    }

    .contactNav > a{
        margin-left: 18vw!important;    
    }
}

@media screen and (max-width: 540px) {
    #homeHeader > .shapeRight > img{
        width: 67vw!important;
    }
}

@media screen and (max-width: 320px) {
    #homeHeader > .shapeRight > img{
        margin-top: 60vh!important;
    }
}

@media screen and (max-width: 280px) {
    #homeHeader > .shapeRight > img{
        width: 90vw!important;
        margin-top: 65vh!important;
    }
}

@media screen and (max-width: 400px) {
    .navbar-ul > li > a{
        font-size: 15.5px;
    }
}

.nav-active{
    transform: translateX(0%);
}

@keyframes navLinkFade{
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}

.toggle .line1{
    transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2{
    opacity: 0;
}

.toggle .line3{
    transform: rotate(45deg) translate(-5px, -6px);
}