#navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 10vh;
    background-color: transparent;
    transition: 0.4s;
    position: fixed;
    width: 100vw;
    top: 0;
    z-index: 999;
}

#logo{
    height: 80px;
}

.navbar-ul{
    display: flex;
    justify-content: space-around;
}

.navbar-ul a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-weight: 400;
    margin-left: 1.5vw;
    margin-right: 1.5vw;
    margin-top: 20px;
}

.navbar-ul li{
    list-style: none;
}

.blackMenu > li> a{
    color: black!important;
}

.burger{
    display: none;
    cursor: pointer;
}

.burger div{
    width: 25px;
    height: 3px;
    background-color: black;
    margin: 5px;
    transition: all 0.3s ease;
}

#navbar-right{
    margin-right: -10vw;
}

.active{
    font-weight: bold!important;
}

.contactNav > a{
    background-color: $aqua;
    border-radius: 5px;
    padding: 15px 55px;
    color: white;
    font-weight: bold;
    margin-top: 6px;
}

@media screen and (max-width: 1230px) {
    .offerte > a{
        background: none;
        border-radius: 0;
        padding: 0;
    }

    #navbar{
        background-color: white!important;
    }

    body{
        overflow-x: hidden;
    }

    .navbar-ul{
        position: absolute;
        right: 0;
        height: 92vh;
        top: 8vh;
        background-color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        transform: translateX(100%);
        transition: transform .5s ease-in;
        justify-content: flex-start;
    }

    .navbar-ul li{
        opacity: 0;
        margin-top: 10vh;
    }

    .navbar-ul > li > a{
        color: black!important;
        font-size: 18px;
        margin-top: -5vh;
    }

    .navbar-ul a{
        margin-left: 0;
        margin-right: 0;
    }

    .burger{
        display: block;
    }

    .headerSVG{
        width: 760px!important;
        height: 740px!important;
    }

    .heroheader{
        display: none;
    }

    .headerinfo{
        margin-left: 55vw!important;
        z-index: 998;
    }

    .headerinfo > h2{
        color: white!important;
        font-size: 55px!important;
        width: 450px!important;
    }
    
    .headerinfo > p{
        color: white!important;
        font-size: 20px!important;
        width: 430px!important;
    }

    .border-header{
        border: 1.5px solid white!important;
    }

    .headerinfo > a{
        background: white!important;
        color: black!important;
        padding: 16px 40px!important;
    }
}

@media screen and (max-width: 400px) {
    .navbar-ul > li > a{
        font-size: 15.5px;
    }
}

.nav-active{
    transform: translateX(0%);
}

@keyframes navLinkFade{
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}

.toggle .line1{
    transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2{
    opacity: 0;
}

.toggle .line3{
    transform: rotate(45deg) translate(-5px, -6px);
}