#subHeader{
    background-color: $lichtGrijs;
    height: 40vh;
    text-align: center;
    font-size: 35px;
    text-transform: uppercase;
    color: $darkblue;
    display: table;
    width: 100vw;
}

.subContent{
    padding: 2.5vw 0;
    margin: 0 auto;
    display: table-cell;
    vertical-align: middle;
}

@media screen and (max-width: 1000px) {
    .subContent > h1{
        font-size: 25px;
    }
}

@media screen and (max-width: 500px) {
    .subContent > h1{
        font-size: 22px;
    }
}

@media screen and (max-width: 300px) {
    .subContent > h1{
        font-size: 18px;
    }
}

#introductie{
    display: grid;
    grid-template-columns: 45vw 1fr;
}

.introductionAboutMe > h3{
    color: black;
    font-weight: bold;
    font-size: 33px;
    text-transform: uppercase;
    padding-bottom: .5vh;
}

.introductionAboutMe > h2{
    color: $darkblue;
    font-weight: bold;
    font-size: 50px;
    text-transform: uppercase;
}

.introductionAboutMe > p{
    max-width: 45vw;
    min-width: 25vw;
    margin: 10px 0;
}

.heroAboutMe{
    margin: 0 auto;
}

.heroAboutMe > img{
    max-width: 35vw;
    margin-top: 7vh;
}

.introductionAboutMe{
    margin-top: 14vh;
}

@media screen and (max-width: 1500px){
   .heroAboutMe > img{
       margin-top: 15vh;
   } 
}

@media screen and (max-width: 1000px){
    #introductie{
        grid-template-columns: 1fr;
        grid-template-rows: auto 1fr;
        text-align: center;
    }
    
    .heroAboutMe > img{
        margin-top: 7vh;
        max-width: 60vw;
    }

    .introductionAboutMe > p{
        max-width: 70vw;
        margin: 0 auto;
    }

    #skillset > p{
        width: 85vw;
        margin: 10px auto!important;
    }
}