.postEditor{
    width: 75%;
    margin: 0 auto;
    border-radius: 25px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    & > h1{
        text-align: center;
        padding-top: 1.5vh;
    } & > .titleSection{
        text-align: center;
        & > input[type=text] {
            width: calc(90% - 30px);
            padding: 15px;
            border: none;
            margin-bottom: 2vh;
            background-color: $lichtGrijs;
            border-radius: 10px;
            box-shadow: 0 3px 6px rgba(0,0,0,.2);
            &:focus{
                outline: none;
            }
        }   
    }
} 

.tox-statusbar__branding{
    display: none;
}

.tox{
    width: 90%;
    margin: 0 auto;
}

.catoForm{
    width: 80%;
    margin: 0 auto;
    & > select{
        width: 100%;
        padding: 10px;
        margin-top: 10px;
        background-color: $lichtGrijs;
        border-radius: 10px;
        box-shadow: 0 3px 6px rgba(0,0,0,.2);
        border: none;
    } & .catoInput{
        width: calc(100% - 10px);
        padding: 15px 0 15px 10px;
        background-color: $lichtGrijs;
        border-radius: 10px;
        box-shadow: 0 3px 6px rgba(0,0,0,.2);
        border: none;
    } & > h2{
        text-align: center;
        margin-top: 0;
    }
}

.postInformation{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 90%;
    margin: 0 auto;
    margin-top: 2vh;
}

.kopImage{
    width: 80%;
    margin: 0 auto;
    text-align: center;
    & > h2{
        margin-top: 0;
    }
}

.submit{
    text-align: center;
    & > .postSubmit{
        width: 90%;
        padding: 14px 0;
        background-color: $blue;
        color: white;
        font-size: 20px;
        text-transform: uppercase;
        font-weight: bold;
        cursor: pointer;
        border-radius: 10px;
        box-shadow: 0 3px 6px rgba(0,0,0,.2);
        border: none;
        margin-top: 2vh;
        margin-bottom: 2vh;
    }
}

@media screen and (max-width: 1000px) {
    .postInformation{
        grid-template-columns: 1fr;
    }

    .kopImage{
        margin-top: 2vh;
    }
}