#allPosts{
    width: 75%;
    margin: 0 auto;
    border-radius: 25px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    margin-top: 5vh;
    & > h1{
        font-size: 40px;
        text-align: center;
        text-transform: uppercase;
        padding-top: 2vh;
        margin-bottom: 0;
    }
}

.posts{
    width: 90%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr auto;
    padding: 20px;
    & > h4{
        margin: 0;
    } & .liveversie{
        padding-right: 20px;
        text-decoration: none;
        font-weight: bold;
        color: $blue;
        font-size: 15px;
    } & .deletePost{
        color: red;
        padding-left: 10px;
        border: none;
        padding: 0;
        margin: 0;
        background: none;
        font-size: 15px;
        & i{
            cursor: pointer;
        }
    } & form{
        display: inline-block;
        padding-left: 5px;
    } & .bewerkPost{
        color: $base-accent-color;
        display: inline-block;
    }
}
