footer{
    margin-top: 10vh;
    background-color: $blue;
}

#footerLinks{
    color: white;
    width: 65vw;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-left: 20vw;
    padding-top: 2.5vh;
}

.footer-links > a{
    color: white;
}

.copyright{
    margin-left: 20vw;
    color: white;
    margin-top: 2vh;
    padding-bottom: 2.5vh;
}