#homeHeader{
    height: 100vh;
    display: grid;
    grid-template-columns: 70% 30%;
    & > .shapeRight{
        width: 30vw;
        height: 100vh;
        background-color: $blue;
        float: right;
        & > img{
            margin-left: -30vw;
            width: 45vw;
            margin-top: 10vh;
        }
    } & > .infoMe{
        max-width: 30vw;
        margin: auto 0;
        margin-left: 2.5vw;
        & > h1{
            font-size: 77px;
            color: $darkblue;
        } & > p{
            font-size: 17px;
            color: $darkblue;
        }
    }
}