#blogs > h2{
    text-align: center;
    color: $blue;
    text-transform: uppercase;
    font-size: 50px;
    margin: 4vh 0;
}

.tutorials{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    width: 95vw;
    margin: 0 auto;
}

.blogCard{
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 300px;
    margin: 0 auto;
}

.blogCard > img{
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.categorie{
    background-color: red;
    color: #fff;
    border-radius: 50px;
    font-size: 12px;
    margin: 0;
    padding: 5px 15px;
    text-transform: uppercase;
    text-decoration: none;
}

.blogInfo{
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 20px;
    min-height: 250px;
}

.blogInfo > h3{
    margin: 10px 0;
}

.blogCard > p{
    font-size: 14px;
    margin: 0 0 40px 0;
    font-weight: 500;
    color: rgb(70,68,68);
}

.blogDetails{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: auto;
}

.blogDetails > p{
    margin: 0 auto;
    opacity: .7;
    font-weight: bold;
}

.leesMeer{
    margin-top: 10px;
    text-decoration: none;
    color: $blue;
    font-weight: bold;
    font-size: 16px;
}

.blogsButton > button{
    display: block;
    margin: 0 auto;
    margin-top: 6vh;
}

.blogsButton{
    text-decoration: none;
}

@media screen and (max-width: 1300px){
    .tutorials{
        grid-template-columns: 1fr 1fr 1fr;
    }

    .blogCard:nth-child(4n){
        display: none;
    }
}

@media screen and (max-width: 1000px){
    .tutorials{
        grid-template-columns: 1fr 1fr;
    }

    .blogCard:nth-child(3n){
        display: none;
    }
}

@media screen and (max-width: 675px){
    .tutorials{
        grid-template-columns: 1fr;
    }

    .blogCard:nth-child(3n){
        display: block;
    }

    .blogCard{
        margin: 20px auto;
    }
}

@media screen and (max-width: 310px){
    .blogCard{
        width: 270px;
    }
}