#projecten{
    background-color: $blue;
    margin-top: 8vh;
    min-height: 660px;
    text-align: center;
}

#projecten > h2{
    padding-top: 4vh;
    color: white;
    font-size: 50px;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
}

#projecten > p{
    color: white;
    font-size: 22px;
    text-align: center;
}

.projects{
    margin-top: 8vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.projectHome > h3{
    text-align: center!important;
    margin-top: 25px;
    color: $blue;
    font-size: 25px;
    font-weight: bold;
}

.cardProject {
  background: white;
  border-radius: 8px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  cursor: pointer;
  height: 300px;
  margin: 20px;
  position: relative;
  -webkit-tap-highlight-color: rgba(0,0,0,0.025);
  text-align: center;
  transition: height 1000ms;
  width: 450px;
  margin: 0 auto;
}

.cardProject.expanded {
  height: 480px;
}

.label {
  margin-top: -10px;
  width: 100%;
  border-radius: 8px;
  transform: translateY(10px);
  transition: transform 1000ms;
}

.cardProject.expanded .label {
  transform: translateY(0);
}

.text {
  clip-path: polygon(0% 100%, 0 -15%, 50% -5%, 100% -15%, 100% 100%);
  -webkit-clip-path: polygon(0% 100%, 0 -15%, 50% -5%, 100% -15%, 100% 100%);
  transition: clip-path 1000ms;
}

.cardProject.expanded .text {
  clip-path: polygon(0% 100%, 0 -100%, 50% -15%, 100% -100%, 100% 100%);
  -webkit-clip-path: polygon(0% 100%, 0 -100%, 50% -15%, 100% -100%, 100% 100%);
}

.text-content {
  transform: translateY(-160px);
  transition: transform 1000ms;
}

.cardProject.expanded .text-content {
  transform: translateY(-15px);
}

.chevron {
  position: absolute;
  bottom: 20px;
  left: calc(50% - 40px);
  transform-origin: 50%;
  transform: rotate(180deg);
  transition: transform 1000ms;
}

.cardProject.expanded .chevron {
  transform: rotate(0deg);
}

.title {
  font-family: 'Alegreya Sans', sans-serif;
  font-weight: 900;
  margin: 20px 0 12px;
}

.body-text {
  padding: 0 20px;
  margin-bottom: 10px;
}

.leesMeerProject{
  color: $blue;
  font-weight: bold;
  text-decoration: none;
  font-size: 18px;
}

.meerProjecten > button{
  width: 180px;
  height: 60px;
  font-size: 20px;
  font-weight: bold;
  color: white;
  border: none;
  background-color: $aqua;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 5vh;
  position: relative;
  z-index: 999;
  margin-bottom: 5vh;
}

@media screen and (max-width: 1400px) and (min-width: 951px){
  .projects{
    grid-template-columns: 1fr 1fr;
  }

  .cardProject:nth-child(3n){
    display: none;
  }
}

@media screen and (max-width: 950px){
  .projects{
    grid-template-columns: 1fr;
    grid-gap: 40px;
    margin-top: 4vh;
  }
}

@media screen and (max-width: 550px){
  .cardProject{
    width: 350px;
    height: 230px;
  }

  .cardProject.expanded{
    height: 430px;
  }

  .title{
    font-size: 22px;
    margin: 15px 0 9px;
  }
}

@media screen and (max-width: 390px){
  .cardProject{
    width: 300px;
    height: 200px;
  }

  .cardProject.expanded{
    height: 410px;
  }

  .body-text{
    padding: 0 10px;
    margin-bottom: 6px;
    font-size: 15px;
  }
}