#about{
    display: grid;
    grid-template-columns: 45vw 1fr;
}

.aboutMe > h2{
    color: $darkblue;
    font-weight: bold;
    font-size: 50px;
    text-transform: uppercase;
}

.aboutMe > h3{
    color: $aqua;
    font-weight: bold;
    font-size: 25px;
}

.aboutMe > p{
    max-width: 50vw;
    min-width: 30vw;
    margin: 10px 0;
}

.heroAbout{
    margin: 0 auto;
}

.heroAbout > img{
    max-width: 60vw;
    margin-top: 7vh;
}

.aboutMe{
    margin-top: 25vh;
}

@media screen and (max-width: 1370px){
    .heroAbout > img{
        max-width: 40vw;
    }

    .aboutMe{
        margin-top: 20vh;
    }

    .contactMe{
        margin-top: 15vh!important;
    }
}

@media screen and (max-width: 1000px){
    .aboutMe{
        margin-top: 13vh;
    }

    .contactMe{
        margin-top: 12vh!important;
    }

    .contactMe > h2{
        font-size: 35px!important;
    }

    .contactMe > h3{
        font-size: 26px!important;
    }
}