@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body, html{
    overflow-x: hidden;
}

// Vaste Componenten
@import 'vars';
@import 'nav';

// Home pagina
@import 'header';
@import 'homeAbout';
@import 'homeProjecten';
@import 'homeTutorials';