@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700;900&display=swap');

// Vaste Componenten
@import 'vars';
@import 'nav';
@import 'footer';

*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
        ::before {
            box-sizing: border-box;
        ::after {
            box-sizing: border-box;
        }
    }
}

.blueButton {
    background-color: $blue;
    color: white;
    border: none;
    border-radius: 50px;
    padding: 18px 55px;
    font-weight: 500;
    font-size: 15px;
    margin-top: 2vh;
    cursor: pointer;
}

body, html{
    overflow-x: hidden;
}

a{
    text-decoration: none;
}

// Home pagina
@import 'header';
@import 'homeAbout';
@import 'homeProjecten';
@import 'homeTutorials';
@import 'homeContact';

// About pagina
@import 'aboutIntro';
@import 'aboutSkillset';

// Contact Pagina
@import 'contactPage';

// Projecten pagina's
@import 'projects';
@import 'projectDetails';

// Tutorial pagina's
@import 'tutorials';

// Admin pagina's
@import 'login';

@import 'queries';
@import '404';