@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
        ::before {
            box-sizing: border-box;
        ::after {
            box-sizing: border-box;
        }
    }
}

body, html{
    overflow-x: hidden;
}

a{
    text-decoration: none;
}

// Vaste Componenten
@import 'vars';
@import 'nav';
@import 'footer';

// Home pagina
@import 'header';
@import 'homeAbout';
@import 'homeProjecten';
@import 'homeTutorials';
@import 'homeContact';

// About pagina
@import 'aboutIntro';
@import 'aboutSkillset';

// Contact Pagina
@import 'contactPage';

// Projecten pagina's
@import 'projects';
@import 'projectDetails';

@import 'queries';