.buttons > button{
    border: none;
    background-color: $gray;
    color: black;
    padding: 9px 20px;
    border-radius: 4px;
    text-transform: uppercase;
    font-weight: bold;
    transition: .7s;
    outline: none;
    margin: 0 5px;
    cursor: pointer;
    &:hover {
        background-color: $blue;
        color: white;
    }
}

.buttons{
    text-align: center;
}

#projects{
    margin-top: 5vh;
}

.activeProject{
    background-color: $blue!important;
    color: white!important;
}

.aspect {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 100%;
    // overflow: hidden;
}

.aspect__inner {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 180px;
}

.aspect--16x9 {
    padding-bottom: 56.25%;
}

.aspect--9x80 {
    padding-bottom: calc(112.5% + 8px);
}
  
.aspect--32x9 {
    padding-bottom: calc(28.125% - 3px);
}

.projectPicture {
    display: block;
    width: 100%; 
    max-width: none;
    object-fit: cover;
}

figure {
    margin: 0;
    padding: 0;
}

figure:nth-child(2n){
    margin-bottom:30px;
} 

figure:nth-child(2n+1){
    margin-top:30px;
}

.containerProject {
    width: 93%;
    margin: auto;
}

.column {
    position: relative;
    float: left;
    min-height: 1px;
    width: 33.3333%;
    padding-left: 4px;
    padding-right: 4px;
    margin-top: 8px;
}
  
.col-span {
    width: 50%;
}
  
.my-sizer-element {
    width: 8.33333%;
}

.projectInfo{
    margin-bottom: 30px!important;
}

@media screen and (max-width: 1100px){
    .column{
        width: 50%;
    }
}

@media screen and (max-width: 650px){
    .column{
        width: 100%;
    }
}

@media screen and (max-width: 410px){
    .buttons > button{
        margin: 5px 5px;
    }
}