#projectInfo{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 80vw;
    margin: 0 auto;
    margin-left: 15vw;
}

.projectDetails{
    & *{
        box-sizing: border-box;
        &:before{
            box-sizing: border-box;
        } &:after{
            box-sizing: border-box;
        }
    } & img{
        max-width: 100%;
    }
}

.container {
    max-width: 40em;
    padding: 1em;
    margin: 0 auto;
}

.ir {
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
}
  
.gallery {
    overflow: hidden;
}
  
.gallery__hero {
    overflow: hidden;
    position: relative;
    padding: $base-spacing*2;
    margin: 0 0 $base-spacing/3;
    background: #fff;
      .is-zoomed & {
            cursor: move;
          img {
            max-width: none;
            position: absolute;
            z-index: 0;
            top: -50%;
            left: -50%;
        }
    }
}
  
.gallery__hero-enlarge {
    position: absolute;
    right: $base-spacing/2;
    bottom: $base-spacing/2;
    z-index: 1;
    width: 30px;
    height: 30px;
    opacity: $icon-opacity-norm;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIzMCIgaGVpZ2h0PSIzMCIgdmlld0JveD0iNS4wIC0xMC4wIDEwMC4wIDEzNS4wIiBmaWxsPSIjMzRCZjQ5Ij48cGF0aCBkPSJNOTMuNTkzIDg2LjgxNkw3Ny4wNDUgNzAuMjY4YzUuNDEzLTYuODczIDguNjQyLTE1LjUyNiA4LjY0Mi0yNC45MTRDODUuNjg3IDIzLjEwNCA2Ny41OTMgNSA0NS4zNDMgNVM1IDIzLjEwNCA1IDQ1LjM1NGMwIDIyLjI0IDE4LjA5NCA0MC4zNDMgNDAuMzQzIDQwLjM0MyA5LjQgMCAxOC4wNjItMy4yNCAyNC45MjQtOC42NTNsMTYuNTUgMTYuNTZjLjkzNy45MjcgMi4xNjIgMS4zOTYgMy4zODggMS4zOTYgMS4yMjUgMCAyLjQ1LS40NyAzLjM5LTEuMzk2IDEuODc0LTEuODc1IDEuODc0LTQuOTEyLS4wMDItNi43ODh6bS00OC4yNS0xMC43MWMtMTYuOTU0IDAtMzAuNzUzLTEzLjc5OC0zMC43NTMtMzAuNzUyIDAtMTYuOTY0IDEzLjgtMzAuNzY0IDMwLjc1My0zMC43NjQgMTYuOTY0IDAgMzAuNzUzIDEzLjggMzAuNzUzIDMwLjc2NCAwIDE2Ljk1NC0xMy43ODggMzAuNzUzLTMwLjc1MyAzMC43NTN6TTYzLjAzMiA0NS4zNTRjMCAyLjM0NC0xLjkwNyA0LjI2Mi00LjI2MiA0LjI2MmgtOS4xNjR2OS4xNjRjMCAyLjM0NC0xLjkwNyA0LjI2Mi00LjI2MiA0LjI2Mi0yLjM1NSAwLTQuMjYyLTEuOTE4LTQuMjYyLTQuMjYydi05LjE2NGgtOS4xNjRjLTIuMzU1IDAtNC4yNjItMS45MTgtNC4yNjItNC4yNjIgMC0yLjM1NSAxLjkwNy00LjI2MiA0LjI2Mi00LjI2Mmg5LjE2NHYtOS4xNzVjMC0yLjM0NCAxLjkwNy00LjI2MiA0LjI2Mi00LjI2MiAyLjM1NSAwIDQuMjYyIDEuOTE4IDQuMjYyIDQuMjYydjkuMTc1aDkuMTY0YzIuMzU1IDAgNC4yNjIgMS45MDcgNC4yNjIgNC4yNjJ6Ii8+PC9zdmc+);
    background-repeat: no-repeat;
    transition: opacity $base-transition-duration $base-transition-timing;  
    &:hover {
        opacity: $icon-opacity-hover;
    } .is-zoomed & {
        background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIzMCIgaGVpZ2h0PSIzMCIgdmlld0JveD0iNS4wIC0xMC4wIDEwMC4wIDEzNS4wIiBmaWxsPSIjMzRCZjQ5Ij48cGF0aCBkPSJNOTMuNTkzIDg2LjgxNkw3Ny4wNDUgNzAuMjY4YzUuNDEzLTYuODczIDguNjQyLTE1LjUyNiA4LjY0Mi0yNC45MTRDODUuNjg3IDIzLjEwNCA2Ny41OTMgNSA0NS4zNDMgNVM1IDIzLjEwNCA1IDQ1LjM1NGMwIDIyLjI0IDE4LjA5NCA0MC4zNDMgNDAuMzQzIDQwLjM0MyA5LjQgMCAxOC4wNjItMy4yNCAyNC45MjQtOC42NTNsMTYuNTUgMTYuNTZjLjkzNy45MjcgMi4xNjIgMS4zOTYgMy4zODggMS4zOTYgMS4yMjUgMCAyLjQ1LS40NyAzLjM5LTEuMzk2IDEuODc0LTEuODc1IDEuODc0LTQuOTEyLS4wMDItNi43ODh6TTE0LjU5IDQ1LjM1NGMwLTE2Ljk2NCAxMy44LTMwLjc2NCAzMC43NTMtMzAuNzY0IDE2Ljk2NCAwIDMwLjc1MyAxMy44IDMwLjc1MyAzMC43NjQgMCAxNi45NTQtMTMuNzkgMzAuNzUzLTMwLjc1MyAzMC43NTMtMTYuOTUzIDAtMzAuNzUzLTEzLjgtMzAuNzUzLTMwLjc1M3pNNTguNzcyIDQ5LjYxSDMxLjkyYy0yLjM1NSAwLTQuMjYzLTEuOTA3LTQuMjYzLTQuMjZzMS45MDgtNC4yNjMgNC4yNjItNC4yNjNINTguNzdjMi4zNTQgMCA0LjI2MiAxLjkwOCA0LjI2MiA0LjI2MnMtMS45MSA0LjI2LTQuMjYyIDQuMjZ6Ii8+PC9zdmc+); 
    }
}
  
.gallery__thumbs {
    text-align: center;
    background: #fff;
    a {
        display: inline-block;
        width: 20%;
        padding: $base-spacing/2;
        opacity: $thumb-opacity-inactive;
        transition: opacity $base-transition-duration $base-transition-timing;
        &:hover {
            opacity: $thumb-opacity-hover;
        } &.is-active {
        opacity: $thumb-opacity-active;
        }
    }
}

.overProject{
    font-size: 40px;
    text-transform: uppercase;
    font-weight: 400;
}

.gemaaktMet > h3, .madeItem, .taal > h3, .taal > p{
    display: inline-block;
}

.specificatiesProj > div{
    margin-top: 3vh;
}

.gemaaktMet > h3, .taal > h3{
    font-weight: 400;
}

.madeItem, .taal > p{
    font-weight: bold;
}

.projectSamenvatting{
    max-width: 50%;
    margin-top: 3vh;
    margin-bottom: 3vh;
}

.projectSpecificaties{
    max-width: 50%;
}

.madeItem{
    display: inline-block;
}

.soortProject{
    font-weight: 400;
    opacity: .5;
}

.gemaaktButtons > a{
    padding: 0 15px;
    & > button{
        background-color: $blue;
        border: none;
        cursor: pointer;
        padding: 16px 22px;
        color: white;
        border-radius: 10px;
        font-weight: bold;
        font-size: 15px;
        & > i{
            padding-right: 5px;
        }
    }
}

.gemaaktButtons{
    text-align: center;
    max-width: 50%;
    margin-top: 3vh;
}

.projectInfoText{
    margin: auto 0;
}

#meerinfo{
    background-color: $lichtGrijs;
    width: 100vw;
    & > .infoContent{
        width: 75vw;
        margin: 0 auto;
        & > h2{
            font-weight: 400;
            text-transform: uppercase;
            font-size: 40px;
            padding-top: 2vh;
            padding-bottom: 2vh;
        } & > p{
            padding-bottom: 3vh;
        }
    }
}

@media screen and (max-width: 1562px) {
    #projectInfo{
        width: 100vw;
        margin-left: 7.5vw;
    }
}

@media screen and (max-width: 1250px) {
    #projectInfo{
        grid-template-columns: 35% 65%;
        margin-left: 16vw;
    }

    .overProject{
        font-size: 25px;
    }
}

@media screen and (max-width: 1000px) {
    #projectInfo{
        grid-template-columns: 1fr;
        width: 100vw;
        margin: 0 auto;
    }

    .projectInfoText{
        width: 100vw;
        text-align: center;
    }

    .overProject{
        font-size: 40px;
    }

    .projectSamenvatting{
        margin: 0 auto;
    }

    .gemaaktButtons{ 
        margin: 0 auto;
        margin-bottom: 5vh;
        margin-top: 3vh;
    }
}

@media screen and (max-width: 710px){
    #meerinfo > .infoContent{
        width: 90vw;
    }

    #meerinfo > .infoContent > h2{
        text-align: center;
    }

    .gemaaktButtons{
        max-width: 100vw;
    }
}

@media screen and (max-width: 312px) {
    .gemaaktButtons > a > button{
        margin-top: 2vh;
    }

    #subHeader > h1{
        font-size: 40px!important;
    }
}