.cato{
    width: 90vw;
    margin: 0 auto;
    margin-top: 8vh;
    & > h2 {
        font-size: 40px;
        text-transform: uppercase;
        font-weight: 400;
        margin-left: 2vw;
        margin-bottom: 3vh;
    }
}

.blog-grid{
    width: 80%;
    margin: 0 auto;
    & > img{
        border-radius: 10px;
    }& > h3{
        font-size: 16px;
        margin-top: 20px;
    }& > h4{
        font-size: 15px;
        margin-top: 2.5px;
        margin-bottom: 10px;
        opacity: .5;
        font-weight: bold;
    }& > a{
        margin-top: 20px;
        color: $blue!important;
    }
}

#blogContent{
    display: grid;
    grid-template-columns: 65vw 35vw;
    & > .blogTekst{
        width: 80%;
        margin-left: 15%;
        margin-top: 5vh;
        line-height: 1.5;
        & > h1{
            margin-bottom: 20px;
            font-size: 30px;
            text-transform: uppercase;
        } & > ul, > ol{
            margin-left: 50px;
        } & > .language-markup{
            padding: 16px;
            margin: 0;
            font-size: 85%;
            background-color: #fafbfc;
            border-radius: 6px;
            line-height: 3;
            white-space: pre-wrap;
            word-wrap: break-word;
        }
    } & > aside{
        margin-top: 5vh;
        & > .aboutmeAside{
            text-align: center;
            max-width: 75%;
            margin: 0 auto;
            background-color: $lichtGrijs;
            padding: 25px;
            & > img{
                width: 200px;
                height: 200px;
                border-radius: 50%;
                object-fit: cover;
                margin-bottom: 20px;
            } & > h2{
                font-size: 22px;
                margin-bottom: 20px;
            } & > a{
                font-weight: bold;
            } & > p{
                margin-bottom: 20px;
            }
        } & > .overBericht{
            max-width: 75%;
            margin: 0 auto;
            background-color: $lichtGrijs;
            padding: 25px;
            margin-top: 5vh;
            & > h2{
                text-align: center;
            } > p{
                padding: 15px 0;
            }
        }
    }
}

.tutorialsBody section#contact {
    margin-bottom: 10vh;
}

#tutorialAside{
    width: 75%;
}



@media screen and (max-width: 1300px) {
    #blogContent > .blogTekst{
        width: 95%;
        margin-left: 2.5%;
    }

    #blogContent > aside > .aboutmeAside{
        max-width: 100%;
        float: right;
    }

    .overBericht{
        padding-top: 5vh;
        max-width: 100%!important;
    }
}

@media screen and (max-width: 900px) {
    #blogContent{
        grid-template-columns: 1fr;
    }

    #tutorialAside{
        width: 100vw;
        background-color: $lichtGrijs;
    }

    .overBericht{
        text-align: center;
    }

    .tutorialsBody > footer{
        margin-top: 0;
    }
}

@media screen and (max-width: 800px) {
    .cato{
        & > h2{
            font-size: 30px;
            margin-left: 4.5vw;
        }
    }
}

@media screen and (max-width: 500px) {
    .cato{
        & > h2{
            font-size: 25px;
            text-align: center;
            margin-left: 0;
        }
    }
}