$blue: #4834D4;
$aqua: #7ED6DF;
$darkblue: #00117F;
$red: #D93A50;
$gray: #eeeeee;
$base-spacing: 1em;
$off-white: #F5F5F5;
$base-accent-color: #34Bf49;
$thumb-opacity-inactive: 0.75;
$thumb-opacity-hover: 1;
$thumb-opacity-active: 0.2;
$icon-opacity-norm: 0.5;
$icon-opacity-hover: 1;
$base-transition-timing: cubic-bezier(0.455,  0.030, 0.515, 0.955);
$base-transition-duration: .3s;