@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700;900&display=swap");
.panel-heading {
  width: 75%;
  border-radius: 25px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  margin: 0 auto;
  text-align: center;
}
.panel-heading > h1 {
  padding-top: 1.5vh;
}

.panel-body {
  width: 75%;
  border-radius: 25px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  margin: 0 auto;
  margin-top: 5vh;
}
.panel-body > h1 {
  padding-top: 1.5vh;
  text-align: center;
}
.panel-body > .list-group {
  width: 90%;
  margin: 0 auto;
  padding-bottom: 2vh;
}

.list-group-item {
  display: block;
  position: relative;
  background-color: #F8F8F8;
  border-radius: 15px;
  width: 100%;
  text-align: left;
  text-decoration: none;
  font-size: 20px;
  padding: 10px;
  transition: 0.5s;
  margin-bottom: 20px;
}
.list-group-item .badge {
  float: right;
  color: #D93A50;
}
.list-group-item:focus {
  color: #00117F;
}
.list-group-item:hover {
  background-color: #4834D4;
  color: white;
}

.taskForm {
  width: 75%;
  padding: 15px;
  border: none;
  background-color: #F8F8F8;
  border-radius: 10px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
}
.taskForm:focus {
  outline: none;
}
.taskFormSubmit {
  background-color: #4834D4;
  color: white;
  border: none;
  border-radius: 50px;
  padding: 18px 55px;
  font-weight: 500;
  font-size: 15px;
  margin-top: 2vh;
  margin-bottom: 2vh;
}

.postEditor {
  width: 75%;
  margin: 0 auto;
  border-radius: 25px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}
.postEditor > h1 {
  text-align: center;
  padding-top: 1.5vh;
}

.titleSection, .longInput {
  text-align: center;
  margin-top: 3vh;
}
.titleSection > input[type=text], .longInput > input[type=text] {
  width: calc(90% - 30px);
  padding: 15px;
  border: none;
  margin-bottom: 2vh;
  background-color: #F8F8F8;
  border-radius: 10px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
}
.titleSection > input[type=text]:focus, .longInput > input[type=text]:focus {
  outline: none;
}

.tox-statusbar__branding {
  display: none;
}

.tox {
  width: 90%;
  margin: 0 auto;
}

.cato {
  width: 100%;
}
.cato > button {
  width: 17%;
  background-color: #F8F8F8;
  border-radius: 10px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
  border: none;
  padding: 10px;
  cursor: pointer;
  height: 45px;
}

.catoForm {
  width: 100%;
  margin: 0 auto;
}
.catoForm > select {
  width: 98%;
  padding: 10px;
  margin-top: 10px;
  background-color: #F8F8F8;
  border-radius: 10px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
  border: none;
}
.catoForm .catoInput {
  width: calc(80% - 10px);
  padding: 15px 0 15px 10px;
  background-color: #F8F8F8;
  border-radius: 10px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
  border: none;
}
.catoForm > h2 {
  text-align: center;
  margin-top: 0;
}

.postInformation {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 90%;
  margin: 0 auto;
  margin-top: 2vh;
}

.kopImage {
  width: 80%;
  margin: 0 auto;
  text-align: center;
}
.kopImage > h2 {
  margin-top: 0;
}

.submit {
  text-align: center;
}
.submit > .postSubmit {
  width: 90%;
  padding: 14px 0;
  background-color: #4834D4;
  color: white;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
  border-radius: 10px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
  border: none;
  margin-top: 2vh;
  margin-bottom: 2vh;
}

@media screen and (max-width: 1000px) {
  .postInformation {
    grid-template-columns: 1fr;
  }

  .kopImage {
    margin-top: 2vh;
  }

  .urls, .projectDetails {
    grid-template-columns: 1fr !important;
  }
}
#allPosts {
  width: 75%;
  margin: 0 auto;
  border-radius: 25px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  margin-top: 5vh;
}
#allPosts > h1 {
  font-size: 40px;
  text-align: center;
  text-transform: uppercase;
  padding-top: 2vh;
  margin-bottom: 0;
}

.posts {
  width: 90%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr auto;
  padding: 20px;
}
.posts > h4 {
  margin: 0;
}
.posts .liveversie {
  padding-right: 30px;
  text-decoration: none;
  font-weight: bold;
  color: #4834D4;
}
.posts .deletePost {
  color: red;
  padding-left: 10px;
}
.posts .bewerkPost {
  color: #34Bf49;
}

.urls, .projectDetails {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  margin: 0 auto;
  margin-top: 2vh;
  text-align: center;
}
.urls > div > input, .projectDetails > div > input {
  width: 75%;
  padding: 15px;
  border: none;
  margin-bottom: 2vh;
  background-color: #F8F8F8;
  border-radius: 10px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
}
.urls > div > input:focus, .projectDetails > div > input:focus {
  outline: none;
}

.projectLinks {
  text-align: center;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  overflow-x: hidden;
}

header {
  z-index: 1;
  position: fixed;
  background: #4834D4;
  padding: 20px;
  width: calc(100% - 0%);
  top: 0;
  height: 30px;
}

.left_area h3 {
  color: #fff;
  margin: 0;
  text-transform: uppercase;
  font-size: 22px;
  font-weight: 900;
}

.left_area span {
  color: #f9ca24;
}

.sidebar {
  z-index: 1;
  top: 0;
  background: #F8F8F8;
  margin-top: 70px;
  padding-top: 30px;
  position: fixed;
  left: 0;
  width: 250px;
  height: calc(100% - 9%);
  transition: 0.5s;
  transition-property: left;
  overflow-y: auto;
}

.profile_info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sidebar .profile_info .profile_image {
  width: 100px;
  height: 100px;
  border-radius: 100px;
  margin-bottom: 10px;
}

.sidebar .profile_info h4 {
  color: #00117F;
  margin-top: 0;
  margin-bottom: 20px;
}

.sidebar a {
  color: #00117F;
  display: block;
  width: 100%;
  line-height: 60px;
  text-decoration: none;
  padding-left: 40px;
  box-sizing: border-box;
  transition: 0.5s;
  transition-property: background;
}

.sidebar a:hover {
  background: #4834D4;
  color: white;
}

.sidebar i {
  padding-right: 10px;
}

label #sidebar_btn {
  z-index: 1;
  color: #fff;
  position: fixed;
  cursor: pointer;
  left: 300px;
  font-size: 20px;
  margin: 5px 0;
  transition: 0.5s;
  transition-property: color;
}

#check:checked ~ .sidebar {
  left: -185px;
}

#check:checked ~ .sidebar a span {
  display: none;
}

#check:checked ~ .sidebar a {
  font-size: 20px;
  margin-left: 165px;
  width: 100%;
}

.content {
  width: calc(100% - 250px);
  margin-top: 60px;
  padding: 20px;
  margin-left: 250px;
  background-position: center;
  background-size: cover;
  height: 100vh;
  transition: 0.5s;
}

#check:checked ~ .content {
  margin-left: 60px;
}

#check:checked ~ .sidebar .profile_info {
  display: none;
}

#check {
  display: none;
}

.mobile_nav {
  display: none;
}

.content .card p {
  background: #fff;
  padding: 15px;
  margin-bottom: 10px;
  font-size: 14px;
  opacity: 0.8;
}

/* Responsive CSS */
@media screen and (max-width: 780px) {
  .sidebar {
    display: none;
  }

  #sidebar_btn {
    display: none;
  }

  .content {
    margin-left: 0;
    margin-top: 0;
    padding: 10px 20px;
    transition: 0s;
  }

  #check:checked ~ .content {
    margin-left: 0;
  }

  .mobile_nav {
    display: block;
    width: calc(100% - 0%);
  }

  .nav_bar {
    background: #F8F8F8;
    margin-top: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
  }

  .nav_bar .mobile_profile_image {
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }

  .nav_bar .nav_btn {
    color: #00117F;
    font-size: 22px;
    cursor: pointer;
    transition: 0.5s;
    transition-property: color;
  }

  .nav_bar .nav_btn:hover {
    color: #00117F;
  }

  .mobile_nav_items {
    background: #F8F8F8;
    display: none;
  }

  .mobile_nav_items a {
    color: #00117F;
    display: block;
    text-align: center;
    letter-spacing: 1px;
    line-height: 60px;
    text-decoration: none;
    box-sizing: border-box;
    transition: 0.5s;
    transition-property: background;
  }

  .mobile_nav_items a:hover {
    background: #00117F;
    color: white;
  }

  .mobile_nav_items i {
    padding-right: 10px;
  }

  .active {
    display: block;
  }

  .panel-heading, .panel-body, .postEditor, #allPosts {
    width: 90vw;
  }
}

/*# sourceMappingURL=admin.css.map */
