@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body, html {
  overflow-x: hidden;
}

#navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background-color: transparent;
  transition: 0.4s;
  position: fixed;
  width: 100vw;
  top: 0;
  z-index: 999;
}

#logo {
  height: 80px;
}

.navbar-ul {
  display: flex;
  justify-content: space-around;
}

.navbar-ul a {
  color: white;
  text-decoration: none;
  font-size: 20px;
  font-weight: 400;
  margin-left: 1.5vw;
  margin-right: 1.5vw;
  margin-top: 20px;
}

.navbar-ul li {
  list-style: none;
}

.blackMenu > li > a {
  color: black !important;
}

.burger {
  display: none;
  cursor: pointer;
}

.burger div {
  width: 25px;
  height: 3px;
  background-color: black;
  margin: 5px;
  transition: all 0.3s ease;
}

#navbar-right {
  margin-right: -20vw;
}

.active {
  font-weight: bold !important;
}

.contactNav > a {
  background-color: #7ED6DF;
  border-radius: 5px;
  padding: 15px 55px;
  color: white;
  font-weight: bold;
  margin-top: 6px;
}

@media screen and (max-width: 820px) {
  .offerte > a {
    background: none;
    border-radius: 0;
    padding: 0;
  }

  #navbar {
    background-color: white !important;
  }

  body {
    overflow-x: hidden;
  }

  .navbar-ul {
    position: absolute;
    right: 0;
    height: 92vh;
    top: 8vh;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
    justify-content: flex-start;
  }

  .navbar-ul li {
    opacity: 0;
    margin-top: 10vh;
  }

  .navbar-ul > li > a {
    color: black !important;
    font-size: 18px;
    margin-top: -5vh;
  }

  .navbar-ul a {
    margin-left: 0;
    margin-right: 0;
  }

  .burger {
    display: block;
  }

  .headerSVG {
    width: 120vw !important;
    margin: 0 auto;
  }

  .introductionHeader {
    margin: 0 auto !important;
    margin-top: 20vh !important;
  }

  #homeInfo {
    grid-template-columns: 0 !important;
  }

  .contactNav > a {
    padding: 0;
    background: none;
    font-weight: 400;
  }

  #about {
    grid-template-columns: 1fr !important;
    width: 100vw;
  }

  .heroAbout > img {
    max-width: 60vw !important;
    margin-top: 3.5vh !important;
  }

  .aboutMe {
    margin: 0 auto;
    text-align: center !important;
    margin-top: 5vh !important;
  }

  .aboutMe > p {
    max-width: 100% !important;
    width: 70vw;
  }
}
@media screen and (max-width: 400px) {
  .navbar-ul > li > a {
    font-size: 15.5px;
  }
}
.nav-active {
  transform: translateX(0%);
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}
.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
  opacity: 0;
}

.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}

#about {
  display: grid;
  grid-template-columns: 45vw 1fr;
}

.aboutMe > h2 {
  color: #00117F;
  font-weight: bold;
  font-size: 50px;
  text-transform: uppercase;
}

.aboutMe > h3 {
  color: #7ED6DF;
  font-weight: bold;
  font-size: 25px;
}

.aboutMe > p {
  max-width: 50vw;
  min-width: 30vw;
  margin: 10px 0;
}

.aboutMe > a > button {
  width: 180px;
  height: 60px;
  font-size: 20px;
  font-weight: bold;
  color: white;
  border: none;
  background-color: #7ED6DF;
  border-radius: 5px;
  cursor: pointer;
}

.heroAbout {
  margin: 0 auto;
}

.heroAbout > img {
  max-width: 60vw;
  margin-top: 7vh;
}

.aboutMe {
  margin-top: 25vh;
}

@media screen and (max-width: 1370px) {
  .heroAbout > img {
    max-width: 40vw;
  }

  .aboutMe {
    margin-top: 20vh;
  }
}
@media screen and (max-width: 1000px) {
  .aboutMe {
    margin-top: 13vh;
  }
}
#homeHeader {
  width: 100vw;
  height: 100vh;
  background-color: #4834D4;
}

.headerSVG {
  position: absolute;
  right: 0;
  top: 0;
  width: 46vw;
}

#homeInfo {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.heroHeader {
  z-index: 2;
  margin: 0 auto;
  margin-right: 3vw;
  margin-top: -2vh;
}

.heroHeader > img {
  width: 36vw;
  margin-top: 11.5vh;
}

.introductionHeader {
  font-weight: bold;
  color: white;
  margin-top: 35vh;
  margin-left: 10vw;
}

.introductionHeader > h2 > span {
  color: #7ED6DF;
}

.introductionHeader > p {
  font-weight: normal;
  width: 460px;
  margin-bottom: 20px;
}

.introductionHeader > h1 {
  font-size: 39.5px;
}

.introductionHeader > h2 {
  font-size: 40px;
  margin-bottom: 15px;
}

.leesHeader {
  width: 180px;
  height: 60px;
  font-size: 20px;
  font-weight: bold;
  color: white;
  border: none;
  background-color: #7ED6DF;
  border-radius: 5px;
  cursor: pointer;
}

.contactHeader {
  margin-right: 25px;
  width: 180px;
  height: 60px;
  font-size: 20px;
  font-weight: bold;
  color: white;
  border: 5px solid white;
  background: none;
  border-radius: 5px;
  cursor: pointer;
}

.ruimtebutton {
  margin-right: 25px;
}

@media screen and (max-width: 1200px) {
  .headerSVG {
    width: 60vw;
  }

  .heroHeader > img {
    display: none;
  }

  .heroHeader {
    margin: 0;
    margin-top: 0;
    margin-right: 0;
  }

  #navbar-right {
    margin-right: -13vw;
  }

  .introductionHeader {
    grid-column: 2/2;
    z-index: 2;
    margin-left: 2vw;
    margin-top: 20vh;
  }
}
@media screen and (max-width: 1000px) {
  .headerSVG {
    width: 75vw;
  }

  .introductionHeader {
    margin-left: -12vw;
  }

  #navbar-right {
    margin-right: -4.5vw;
  }

  .contactHeader {
    margin-right: 0;
  }
}
@media screen and (max-width: 550px) {
  .introductionHeader > h1 {
    font-size: 25px;
  }

  .introductionHeader > h2 {
    font-size: 25.3px;
  }

  .introductionHeader > p {
    width: 310px;
  }

  .contactHeader {
    font-size: 17.5px;
    width: 145px;
    height: 60px;
  }

  .leesHeader {
    font-size: 17.5px;
    width: 145px;
    height: 60px;
  }

  .introductionHeader {
    margin-top: 15vh !important;
  }

  .ruimtebutton {
    margin-right: 17px !important;
  }

  .headerSVG {
    width: 150vw !important;
  }
}
@media screen and (max-width: 319px) {
  .introductionHeader > p {
    width: 270px;
    margin-bottom: 10px;
  }

  .introductionHeader > h1 {
    font-size: 22px;
  }

  .introductionHeader > h2 {
    font-size: 22.3px;
    margin-bottom: 10px;
  }

  .leesHeader {
    width: 125px;
    height: 55px;
  }

  .contactHeader {
    width: 125px;
    height: 55px;
  }
}
#projecten {
  background-color: #4834D4;
  margin-top: 8vh;
  height: 80vh;
}

#projecten > h2 {
  padding-top: 4vh;
  color: white;
  font-size: 50px;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
}

#projecten > p {
  color: white;
  font-size: 22px;
  text-align: center;
}

.projects {
  margin-top: 8vh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.projectHome {
  width: 80%;
  margin: 0 auto;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
  text-decoration: none;
  height: 340px;
}

.projectImg {
  display: block;
  margin: 0 auto;
  width: 90%;
  margin-top: -50px;
  border-radius: 20px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
}

.projectHome > h3 {
  text-align: center !important;
  margin-top: 25px;
  color: #4834D4;
  font-size: 25px;
  font-weight: bold;
}

/*# sourceMappingURL=style.css.map */
