@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
  margin: 0;
  padding: 0;
  outline: 0 !important;
  text-decoration: none !important;
  list-style-type: none !important;
}

body, html {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.6;
  overflow-x: hidden;
}

/* Navbar */
header {
  width: 100%;
  max-width: 1500px;
  margin: 0 auto;
}

.menu a {
  clear: left;
  text-decoration: none;
  margin-right: 100px;
  margin-top: 100px;
  color: #606c7c;
  transition: ease-in 0.2s;
  font-size: 20px;
  font-weight: bold;
}

#active {
  color: #D93A50;
}

.menu a:last-child {
  margin-right: 0;
}

.menu a:hover {
  color: #ec4357;
}

.menu {
  float: left;
}

.contact {
  cursor: pointer;
  width: 200px;
  margin-top: 0.7em;
  height: 50px;
  padding: 0.5em;
  transition: 0.3s all ease;
  text-align: center;
  border: none;
  border-radius: 3px;
  background: white;
  box-shadow: 2px 4px 9px 1px rgba(0, 0, 0, 0.5);
  margin-left: 30vw;
}

.contact > a {
  color: #ec4357;
  font-weight: bold;
  font-size: 20px;
}

#label {
  margin: 0 0 0 20px;
  font-size: 26px;
  line-height: 70px;
  display: none;
}

#toggle {
  display: none;
}

nav {
  background: transparent;
  position: absolute;
  z-index: 1000;
  margin-top: 20px;
}

@media only screen and (max-width: 800px) and (orientation: portrait) {
  #label {
    display: block;
    cursor: pointer;
    width: 24px;
    float: left;
  }

  .menu {
    text-align: center;
    width: 100%;
    display: none;
    margin: 0;
  }

  .menu a {
    display: block;
    border-bottom: 1px solid #ececec;
    margin: 0px;
  }

  #toggle:checked + .menu {
    display: block;
  }
}
#header {
  position: relative;
  z-index: 999;
  width: 100%;
  padding: 1.5em 0;
  overflow: hidden;
  min-height: 600px;
  height: 100vh;
}

.information {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.name {
  font-size: 55px;
  margin-bottom: -3vh;
  color: #011C66;
  font-weight: bold;
}

.swdev {
  color: #011C66;
  font-weight: bold;
  font-size: 40px;
  margin-bottom: 0.5vh;
}

.nameme {
  margin-top: 27vh;
  margin-left: 10.5vw;
}

.border-bot {
  border: 3px solid #ec4357;
  width: 50px;
  opacity: 15%;
  margin-bottom: 1.5vh;
}

.description {
  opacity: 70%;
}

.moreinfo {
  border: none;
  font-weight: 500;
  display: block;
  width: 100%;
  max-width: 210px;
  margin-top: 1em;
  text-align: center;
  color: white;
  font-size: 20px;
  border-radius: 3px;
  background: #ec4357;
  padding: 1em;
  cursor: pointer;
}

.intro-right-gradient {
  position: absolute;
  z-index: -10;
  top: -30%;
  right: -20%;
  width: 1000px;
  height: 1000px;
  border-radius: 50%;
  background: linear-gradient(#ee9ca7, #ec4357);
}

.webani {
  max-width: 600px;
  margin-top: 15vh;
  margin-left: 7vw;
  z-index: 20;
}

#aboutme {
  margin-top: -17vh;
}

.aboutme{
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.aboutani {
  max-width: 800px;
  margin-left: 7.5vw;
}

.about-left-gradient{
  position: absolute;
  z-index: -10;
  top: 75%;
  left: -20%;
  width: 800px;
  height: 800px;
  border-radius: 50%;
  background: linear-gradient(#ee9ca7, #ec4357);
}

.aboutinfo{
  margin-left: 17vw;
  margin-top: 15vh;
}

.aboutinfo > h2{
  color: #011C66;
  font-weight: bold;
  font-size: 40px;
  margin-bottom: 0.5vh;
}

/*# sourceMappingURL=style.css.map */
